.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* 背面不可见 */
  -webkit-backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 8px;
}
.front {
  background: #4caf50;
  color: white;
}

.back {
  background: #2196f3;
  color: white;
  transform: rotateY(180deg) scale(1.2);
}
.flipper-container {
  width: 200px;
  height: 200px;
  perspective: 1000px;
  margin: 100px auto;
  z-index: 1000; /* 确保在遮罩层上方 */
}
/*
- perspective 是观察者站立的位置，三维元素在观察者后面的部分不会绘制出来
- preserve-3d 是旋转的实物卡片，有3d遮挡效果，该属性对所有的直接子元素有效
- 观察者（perspective）必须站在卡片容器外
- 卡片（preserve-3d）需要保持自身的三维形态
*/
.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flipper-container:hover .flipper {
  transform: rotateY(180deg) scale(1.8) ;
}
/* 显示遮罩层 */
.flipper-container:hover .modal-overlay {
  opacity: 1;
}
/* 新增遮罩层样式 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background: rgba(0, 0, 0, 0.6); */
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
  z-index: 999;
}
