.badge-container {
  position: relative;
  padding: 15px;
}
.badge {
  width: 20px;
  height: 20px;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 3px;
  z-index: 10;
  border: 1px solid #fff;
  background-color: rgb(162, 161, 161);
  opacity: 0.9;
  backdrop-filter: blur(10px);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.badge:hover {
  cursor: pointer;
}

.left {
  left: 0;
}

.right {
  right: 0;
}
